<div class="end-modal">
  <h2
    class="end-modal__heading"
    *ngIf="data.success; else lostGame"
  >
    {{ 'GAME.WIN' | translate }} {{ data.time }} {{ 'GAME.SECONDS' | translate }}
  </h2>

  <ng-template #lostGame>
    <h2 class="end-modal__heading end-modal__heading--lost">
      {{ 'GAME.LOST' | translate }}
    </h2>
  </ng-template>

  <button
    mat-raised-button
    color="primary"
    class="end-modal__button"
    (click)="restartGame()"
  >
    {{ 'GAME.RETRY' | translate }}
  </button>
</div>
