html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.end-modal-container .mat-mdc-dialog-container {
  background-color: white !important;
  border-radius: 12px !important;
  padding: 24px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
}
